@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		width: 100%;
		max-width: 320px;
		margin: 0 auto;
		min-height: 100vh;
		font-family: "Pretendard";
		padding: 32px;
	}
}
